# Lesson 2: Pandas Library

## Pandas Explained üêº
Pandas is a Python library used for data manipulation and analysis. It provides data structures and functions that simplify working with structured data, such as tables or spreadsheets.

In [3]:
import pandas as pd

## Pandas Series üìä
Series is a one-dimensional labeled array capable of holding any data type (e.g., integers, floats, strings, etc.). It's similar to a column in a spreadsheet or a single list in Python.

In [6]:
import numpy as np
data = np.array([10, 20, 30, 40, 50])
series = pd.Series(data)
print("\nSeries from NumPy array:")
print(series)

Series from NumPy array:
0    10
1    20
2    30
3    40
4    50
dtype: int64

You can access pertinent attributes and methods as well for series:

In [8]:
# Attributes
print("Index:", series.index)
print("Values:", series.values)

# Methods
print("Sum of values:", series.sum())
print("Maximum value:", series.max())
print("Minimum value:", series.min())

Index: RangeIndex(start=0, stop=5, step=1)
Values: [10 20 30 40 50]
Sum of values: 150
Maximum value: 50
Minimum value: 10

## Pandas Dataframes üóÑÔ∏è
A Pandas DataFrame is a two-dimensional labeled data structure with rows and columns, similar to a spreadsheet.

In [9]:
# Creating a DataFrame from a dictionary
data = {'Name': ['John', 'Emma', 'Peter'],
        'Age': [30, 25, 35],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
print("DataFrame created from dictionary:")
print(df)

DataFrame created from dictionary:
    Name  Age      City
0   John   30  New York
1   Emma   25    London
2  Peter   35     Paris

You can access rows, columns, or individual elements using indexing, slicing, or label-based methods.

In [10]:
# Accessing columns
print("\nAccessing columns:")
print(df['Name'])  # Accessing a single column
print(df[['Name', 'Age']])  # Accessing multiple columns

# Accessing rows
print("\nAccessing rows:")
print(df.loc[1])  # Accessing a single row by label
print(df.iloc[0])  # Accessing a single row by index

# Accessing elements
print("\nAccessing elements:")
print(df.at[0, 'Age'])  # Accessing a single element by label
print(df.iat[1, 2])  # Accessing a single element by index

Accessing columns:
0     John
1     Emma
2    Peter
Name: Name, dtype: object
    Name  Age
0   John   30
1   Emma   25
2  Peter   35

Accessing rows:
Name      Emma
Age         25
City    London
Name: 1, dtype: object
Name        John
Age           30
City    New York
Name: 0, dtype: object

Accessing elements:
30
London

You can perform various manipulations on DataFrames, such as adding or removing columns, filtering rows, and applying functions.

In [11]:
# Adding a new column
df['Gender'] = ['Male', 'Female', 'Male']
print("\nDataFrame after adding a new column:")
print(df)

# Filtering rows based on a condition
filtered_df = df[df['Age'] > 25]
print("\nFiltered DataFrame:")
print(filtered_df)

# Applying a function to a column
df['Age'] = df['Age'].apply(lambda x: x + 1)
print("\nDataFrame after applying function to 'Age' column:")
print(df)

DataFrame after adding a new column:
    Name  Age      City  Gender
0   John   30  New York    Male
1   Emma   25    London  Female
2  Peter   35     Paris    Male

Filtered DataFrame:
    Name  Age      City Gender
0   John   30  New York   Male
2  Peter   35     Paris   Male

DataFrame after applying function to 'Age' column:
    Name  Age      City  Gender
0   John   31  New York    Male
1   Emma   26    London  Female
2  Peter   36     Paris    Male

### Exercise 1: Planetary Analysis with Pandas üåè
You are part of a team working on analyzing planetary Earth data. Your task is to process and analyze the data using Pandas to extract insights.

#### Objectives:
- Create a Pandas Series representing distances of planets from the Sun (in million kilometers)
- Create a Pandas DataFrame representing characteristics of moons of the outer planets
- Analyze the data to find key information about planetary distances and moon characteristics

In [13]:
planet_distances = {
    'Mercury': 57.9,
    'Venus': 108.2,
    'Earth': 149.6,
    'Mars': 227.9,
    'Jupiter': 778.6,
    'Saturn': 1433.5,
    'Uranus': 2872.5,
    'Neptune': 4495.1,
    'Pluto': 5906.4
}

moon_data = {
    'Planet': ['Jupiter', 'Jupiter', 'Saturn', 'Saturn', 'Uranus', 'Neptune'],
    'Moon': ['Io', 'Ganymede', 'Titan', 'Rhea', 'Titania', 'Triton'],
    'Diameter (km)': [3642, 5262, 5150, 1528, 1578, 2707],
    'Orbital Period (days)': [1.77, 7.15, 15.95, 4.52, 8.71, 5.88]
}

## Working with Real Life Data ‚òÑÔ∏è
Pandas allows us to work with a wide range of file formats from external sources. The code below allows us to import data via CSV and display information about it. 

The below downloads a CSV file of the most recent SpaceX Missions using a URL:

In [30]:
space_x_missions_csv = "https://raw.githubusercontent.com/BriantOliveira/SpaceX-Dataset/master/dataset/SpaceX-Missions.csv"
df = pd.read_csv(space_x_missions_csv)

You can gauge more information about a particular dataset using the following methods:

In [29]:
# Display the first few rows of the DataFrame
print(df.head())

# Check basic information about the DataFrame
print(df.info())

# Summary statistics of numerical columns
print(df.describe())

Empty DataFrame
Columns: [Flight Number, Launch Date, Launch Time, Launch Site, Vehicle Type, Payload Name, Payload Type, Payload Mass (kg), Payload Orbit, Customer Name, Customer Type, Customer Country, Mission Outcome, Failure Reason, Landing Type, Landing Outcome]
Index: []
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Flight Number      0 non-null      object
 1   Launch Date        0 non-null      object
 2   Launch Time        0 non-null      object
 3   Launch Site        0 non-null      object
 4   Vehicle Type       0 non-null      object
 5   Payload Name       0 non-null      object
 6   Payload Type       0 non-null      object
 7   Payload Mass (kg)  0 non-null      float64
 8   Payload Orbit      0 non-null      object
 9   Customer Name      0 non-null      object
 10  Customer Type      0 non-null      object
 11  Customer Country   0 non-null      object
 12  Mission Outcome    0 non-null      object
 13  Failure Reason     0 non-null      object
 14  Landing Type       0 non-null      object
 15  Landing Outcome    0 non-null      object
dtypes: float64(1), object(15)
memory usage: 0.0+ bytes
None
       Payload Mass (kg)
count                0.0
mean                 NaN
std                  NaN
min                  NaN
25%                  NaN
50%                  NaN
75%                  NaN
max                  NaN

## Core Methods with Pandas ‚öôÔ∏è

### Mathematical & Statistical Methods
You can apply basic statistical and mathematical  functions such as `mean`, `median`, `sum`, `std` (standard deviation), `var` (variance), and more!

In [35]:
mean_payload_mass = df['Payload Mass (kg)'].mean()
print(mean_payload_mass)

median_payload_mass = df['Payload Mass (kg)'].median()
print(median_payload_mass)

sum_payload_mass = df['Payload Mass (kg)'].sum()
print(sum_payload_mass)

std_payload_mass = df['Payload Mass (kg)'].std()
print(std_payload_mass)

var_payload_mass = df['Payload Mass (kg)'].var()
print(var_payload_mass)

2739.7727272727275
2490.0
90412.5
2131.502972856349
4543304.923295454

### Explorative Methods 
Explorative methods in Pandas allows you to learn more about the dataset at hand. Some of these methods include `describe` and `unique`.

In [38]:
# Print all unique launch sites in the dataset
pd.unique(df["Launch Site"])

# Describe the statistical values of all the numerical columns within the dataset 
df.describe(include=[np.number])

       Payload Mass (kg)
count          33.000000
mean         2739.772727
std          2131.502973
min             8.000000
25%           570.000000
50%          2490.000000
75%          4159.000000
max          9600.000000

### Data Selection and Filtering
Pandas offers a versatile tool kit for faceting your dataset.

In [42]:
# Select specific columns
selected_columns = df[['Payload Name', 'Payload Orbit']]
print(selected_columns)

# Filter rows based on condition (if payload mass exceeds 3000)
filtered_payloads = df[df['Payload Mass (kg)'] > 3000]
print(filtered_payloads)

                            Payload Name                 Payload Orbit
0                            FalconSAT-2                           NaN
1                                DemoSat                           NaN
2                            Trailblazer                           NaN
3                     PRESat, NanoSail-D                           NaN
4                              Explorers                           NaN
5                       RatSat (DemoSat)               Low Earth Orbit
6                               RazakSAT               Low Earth Orbit
7   Dragon Spacecraft Qualification Unit               Low Earth Orbit
8                 SpaceX CRS (Dragon C1)               Low Earth Orbit
9                SpaceX CRS (Dragon C2+)               Low Earth Orbit
10                          SpaceX CRS-1               Low Earth Orbit
11                           Orbcomm-OG2               Low Earth Orbit
12                          SpaceX CRS-2               Low Earth Orbit
13                              CASSIOPE                   Polar Orbit
14                                 SES-8  Geostationary Transfer Orbit
15                             Thaicom 6  Geostationary Transfer Orbit
16                          SpaceX CRS-3               Low Earth Orbit
17      OG2 Mission 1 (6 OG2 Satellites)               Low Earth Orbit
18                             AsiaSat 8  Geostationary Transfer Orbit
19                             AsiaSat 6  Geostationary Transfer Orbit
20                          SpaceX CRS-4  Geostationary Transfer Orbit
21                          SpaceX CRS-5               Low Earth Orbit
22                                DSCOVR               Sun/Earth Orbit
23                                ABS-3A  Geostationary Transfer Orbit
24        Eutelsat 115 West B (Satmex 7)  Geostationary Transfer Orbit
25                          SpaceX CRS-6               Low Earth Orbit
26             TurkmenAlem 52E/MonacoSAT  Geostationary Transfer Orbit
27                          SpaceX CRS-7               Low Earth Orbit
28     OG2 Mission 2 (11 OG2 Satellites)               Low Earth Orbit
29                               Jason-3               Low Earth Orbit
30                                 SES-9  Geostationary Transfer Orbit
31                          SpaceX CRS-8               Low Earth Orbit
32                              JCSAT-14  Geostationary Transfer Orbit
33                             Thaicom 8  Geostationary Transfer Orbit
34                                ABS-2A  Geostationary Transfer Orbit
35        Eutelsat 117 West B (Satmex 9)  Geostationary Transfer Orbit
36                          SpaceX CRS-9               Low Earth Orbit
37                              JCSAT-16  Geostationary Transfer Orbit
38                                Amos-6  Geostationary Transfer Orbit
39                     Iridium NEXT 1-10               Low Earth Orbit
40                         SpaceX CRS-10               Low Earth Orbit
   Flight Number       Launch Date Launch Time               Launch Site  \
14          F9-7   3 December 2013       22:41  Cape Canaveral AFS LC-40
15          F9-8   6 December 2014       22:06  Cape Canaveral AFS LC-40
18         F9-11     5 August 2014       08:00  Cape Canaveral AFS LC-40
19         F9-12  7 September 2014       05:00  Cape Canaveral AFS LC-40
23         F9-16      2 March 2015       03:50  Cape Canaveral AFS LC-40
24         F9-16      2 March 2015       03:50  Cape Canaveral AFS LC-40
26         F9-18     27 April 2015       23:03  Cape Canaveral AFS LC-40
30          FT-2      4 March 2016       23:35  Cape Canaveral AFS LC-40
31          FT-3      8 April 2016       20:43  Cape Canaveral AFS LC-40
32          FT-4        6 May 2016       05:21  Cape Canaveral AFS LC-40
33          FT-5       27 May 2016       21:39  Cape Canaveral AFS LC-40
34          FT-6      15 June 2016       14:29  Cape Canaveral AFS LC-40
35          FT-6      15 June 2016       14:29  Cape Canaveral AFS LC-40
37          FT-8    14 August 2016       05:26  Cape Canaveral AFS LC-40
38          FT-9  1 September 2016       13:07  Cape Canaveral AFS LC-40
39         FT-10   14 January 2017       17:54     Vandenberg AFB SLC-4E

                   Vehicle Type                    Payload Name  \
14              Falcon 9 (v1.1)                           SES-8
15              Falcon 9 (v1.1)                       Thaicom 6
18              Falcon 9 (v1.1)                       AsiaSat 8
19              Falcon 9 (v1.1)                       AsiaSat 6
23              Falcon 9 (v1.1)                          ABS-3A
24              Falcon 9 (v1.1)  Eutelsat 115 West B (Satmex 7)
26              Falcon 9 (v1.1)       TurkmenAlem 52E/MonacoSAT
30  Falcon 9 Full Thrust (v1.2)                           SES-9
31  Falcon 9 Full Thrust (v1.2)                    SpaceX CRS-8
32  Falcon 9 Full Thrust (v1.2)                        JCSAT-14
33  Falcon 9 Full Thrust (v1.2)                       Thaicom 8
34  Falcon 9 Full Thrust (v1.2)                          ABS-2A
35  Falcon 9 Full Thrust (v1.2)  Eutelsat 117 West B (Satmex 9)
37  Falcon 9 Full Thrust (v1.2)                        JCSAT-16
38  Falcon 9 Full Thrust (v1.2)                          Amos-6
39  Falcon 9 Full Thrust (v1.2)               Iridium NEXT 1-10

               Payload Type  Payload Mass (kg)                 Payload Orbit  \
14  Communication Satellite             3170.0  Geostationary Transfer Orbit
15  Communication Satellite             3325.0  Geostationary Transfer Orbit
18  Communication Satellite             4535.0  Geostationary Transfer Orbit
19  Communication Satellite             4428.0  Geostationary Transfer Orbit
23  Communication Satellite             4159.0  Geostationary Transfer Orbit
24  Communication Satellite             4159.0  Geostationary Transfer Orbit
26  Communication Satellite             4707.0  Geostationary Transfer Orbit
30  Communication Satellite             5271.0  Geostationary Transfer Orbit
31   Space Station Supplies             3136.0               Low Earth Orbit
32  Communication Satellite             4696.0  Geostationary Transfer Orbit
33  Communication Satellite             3100.0  Geostationary Transfer Orbit
34  Communication Satellite             3600.0  Geostationary Transfer Orbit
35  Communication Satellite             3600.0  Geostationary Transfer Orbit
37  Communication Satellite             4600.0  Geostationary Transfer Orbit
38  Communication Satellite             5500.0  Geostationary Transfer Orbit
39  Communication Satellite             9600.0               Low Earth Orbit

               Customer Name Customer Type Customer Country Mission Outcome  \
14                       SES      Business       Luxembourg         Success
15                   Thaicom      Business         Thailand         Success
18                   AsiaSat      Business            China         Success
19                   AsiaSat      Business            China         Success
23  Asia Broadcast Satellite      Business          Bermuda         Success
24         Eutelsat (Satmex)      Business  France (Mexico)         Success
26          Turkmenistan NSA    Government     Turkmenistan         Success
30                       SES      Business       Luxembourg         Success
31                      NASA    Government    United States         Success
32    SKY Perfect JSAT Group      Business            Japan         Success
33                   Thaicom      Business         Thailand         Success
34  Asia Broadcast Satellite      Business          Bermuda         Success
35         Eutelsat (Satmex)      Business  France (Mexico)         Success
37    SKY Perfect JSAT Group      Business            Japan         Success
38                  Spacecom      Business           Israel         Failure
39    Iridium Communications      Business    United States         Success

                     Failure Reason Landing Type Landing Outcome
14                              NaN          NaN             NaN
15                              NaN          NaN             NaN
18                              NaN          NaN             NaN
19                              NaN          NaN             NaN
23                              NaN          NaN             NaN
24                              NaN          NaN             NaN
26                              NaN          NaN             NaN
30                              NaN         Ship         Failure
31                              NaN         Ship         Success
32                              NaN         Ship         Success
33                              NaN         Ship         Success
34                              NaN         Ship         Failure
35                              NaN         Ship         Failure
37                              NaN         Ship         Success
38  Vehicle Explosion Before Launch          NaN             NaN
39                              NaN         Ship         Success

### Grouping Data
Another cool feature in Panadas is `groupby` which allows you to categorize data and perform analysis on it.

In [45]:
# Grouping payload by launch site
launch_groups = df.groupby("Launch Site")

# Obtaining the mean value for each group
launch_groups['Payload Mass (kg)'].mean()

Launch Site
Cape Canaveral AFS LC-40       3075.880
Kennedy Space Center LC-39A    2490.000
Marshall Islands                 93.125
Vandenberg AFB SLC-4E          3551.000
Name: Payload Mass (kg), dtype: float64

### Exercise 2: Deeper Dive into SpaceX Launch Dataset üöÄ 
Let's conduct more research analysis on the SpaceX launch dataset! 

#### Objectives:
- Reinitialize the dataframe and name it `launches_dataset`
- View the first values of the dataset using the `head()` method
- Print out the "Customer Country" column
- Print out all the unique customer countries
- Make a variable named `launches_by_country` and make it grouped by the "Customer Country" column
- Print out all the launches with a payload mass ("Payload Mass (kg)") of less than 4000
- Print the median payload mass for `United States`

Good job! You made it to the end of this lesson!
Next, we will be covering a visualization and plotting library called Matplotlib.