# Lesson 2 Exercise Solutions

### Exercise 1: Planetary Analysis with Pandas üåè
You are part of a team working on analyzing planetary Earth data. Your task is to process and analyze the data using Pandas to extract insights.

#### Objectives:
- Create a Pandas Series representing distances of planets from the Sun (in million kilometers)
- Create a Pandas DataFrame representing characteristics of moons of the outer planets
- Analyze the data to find key information about planetary distances and moon characteristics

In [4]:
planet_distances = {
    'Mercury': 57.9,
    'Venus': 108.2,
    'Earth': 149.6,
    'Mars': 227.9,
    'Jupiter': 778.6,
    'Saturn': 1433.5,
    'Uranus': 2872.5,
    'Neptune': 4495.1,
    'Pluto': 5906.4
}

moon_data = {
    'Planet': ['Jupiter', 'Jupiter', 'Saturn', 'Saturn', 'Uranus', 'Neptune'],
    'Moon': ['Io', 'Ganymede', 'Titan', 'Rhea', 'Titania', 'Triton'],
    'Diameter (km)': [3642, 5262, 5150, 1528, 1578, 2707],
    'Orbital Period (days)': [1.77, 7.15, 15.95, 4.52, 8.71, 5.88]
}

In [5]:
import pandas as pd

# Create a Pandas Series for planet distances and moon characteristics 
planet_distances = pd.Series(planet_distances)
moon_characteristics = pd.DataFrame(moon_data)

# Analyze the data
print("Average distance of planets from the Sun:")
print(planet_distances.mean())

print("\nNumber of moons for each outer planet:")
outer_planets = ['Jupiter', 'Saturn', 'Uranus', 'Neptune']
for planet in outer_planets:
    num_moons = moon_characteristics[moon_characteristics['Planet'] == planet].shape[0]
    print(f"{planet}: {num_moons}")

print("\nLargest moon of each outer planet:")
for planet in outer_planets:
    largest_moon = moon_characteristics[moon_characteristics['Planet'] == planet].\
        sort_values(by='Diameter (km)', ascending=False).iloc[0]
    print(f"{planet}: {largest_moon['Moon']} ({largest_moon['Diameter (km)']} km)")

Average distance of planets from the Sun:
1781.0777777777778

Number of moons for each outer planet:
Jupiter: 2
Saturn: 2
Uranus: 1
Neptune: 1

Largest moon of each outer planet:
Jupiter: Ganymede (5262 km)
Saturn: Titan (5150 km)
Uranus: Titania (1578 km)
Neptune: Triton (2707 km)

### Exercise 2: Deeper Dive into SpaceX Launch Dataset üöÄ 
Let's conduct more research analysis on the SpaceX launch dataset! 

#### Objectives:
- Reinitialize the dataframe and name it `launches_dataset`
- View the first values of the dataset using the `head()` method
- Print out the "Customer Country" column
- Print out all the unique customer countries
- Make a variable named `launches_by_country` and make it grouped by the "Customer Country" column
- Print out all the launches with a payload mass ("Payload Mass (kg)") of less than 4000
- Print the median payload mass for `United States`

In [ ]:
import pandas as pd

In [6]:
space_x_missions_csv = "https://raw.githubusercontent.com/BriantOliveira/SpaceX-Dataset/master/dataset/SpaceX-Missions.csv"
launches_dataset = pd.read_csv(space_x_missions_csv)

In [7]:
launches_dataset.head()

,Flight Number,Launch Date,Launch Time,Launch Site,Vehicle Type,Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Customer Name,Customer Type,Customer Country,Mission Outcome,Failure Reason,Landing Type,Landing Outcome
0,F1-1,24 March 2006,22:30,Marshall Islands,Falcon 1,FalconSAT-2,Research Satellite,19.5,NaN,DARPA,Government,United States,Failure,Engine Fire During Launch,NaN,NaN
1,F1-2,21 March 2007,01:10,Marshall Islands,Falcon 1,DemoSat,NaN,NaN,NaN,DARPA,Government,United States,Failure,Engine Shutdown During Launch,NaN,NaN
2,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,Trailblazer,Communication Satellite,NaN,NaN,ORS,Government,United States,Failure,Collision During Launch,NaN,NaN
3,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,"PRESat, NanoSail-D",Research Satellites,8.0,NaN,NASA,Government,United States,Failure,Collision During Launch,NaN,NaN
4,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,Explorers,Human Remains,NaN,NaN,Celestis,Business,United States,Failure,Collision During Launch,NaN,NaN

In [8]:
launches_dataset["Customer Country"]

0       United States
1       United States
2       United States
3       United States
4       United States
5                 NaN
6            Malaysia
7                 NaN
8       United States
9       United States
10      United States
11      United States
12      United States
13             Canada
14         Luxembourg
15           Thailand
16      United States
17      United States
18              China
19              China
20      United States
21      United States
22      United States
23            Bermuda
24    France (Mexico)
25      United States
26       Turkmenistan
27      United States
28      United States
29      United States
30         Luxembourg
31      United States
32              Japan
33           Thailand
34            Bermuda
35    France (Mexico)
36      United States
37              Japan
38             Israel
39      United States
40      United States
Name: Customer Country, dtype: object

In [9]:
pd.unique(launches_dataset["Customer Country"])

array(['United States', nan, 'Malaysia', 'Canada', 'Luxembourg',
       'Thailand', 'China', 'Bermuda', 'France (Mexico)', 'Turkmenistan',
       'Japan', 'Israel'], dtype=object)

In [15]:
launches_by_country = launches_dataset.groupby("Customer Country")
launches_by_country.head()

,Flight Number,Launch Date,Launch Time,Launch Site,Vehicle Type,Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Customer Name,Customer Type,Customer Country,Mission Outcome,Failure Reason,Landing Type,Landing Outcome
0,F1-1,24 March 2006,22:30,Marshall Islands,Falcon 1,FalconSAT-2,Research Satellite,19.5,NaN,DARPA,Government,United States,Failure,Engine Fire During Launch,NaN,NaN
1,F1-2,21 March 2007,01:10,Marshall Islands,Falcon 1,DemoSat,NaN,NaN,NaN,DARPA,Government,United States,Failure,Engine Shutdown During Launch,NaN,NaN
2,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,Trailblazer,Communication Satellite,NaN,NaN,ORS,Government,United States,Failure,Collision During Launch,NaN,NaN
3,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,"PRESat, NanoSail-D",Research Satellites,8.0,NaN,NASA,Government,United States,Failure,Collision During Launch,NaN,NaN
4,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,Explorers,Human Remains,NaN,NaN,Celestis,Business,United States,Failure,Collision During Launch,NaN,NaN
6,F1-5,14 July 2009,03:35,Marshall Islands,Falcon 1,RazakSAT,Weather Satellite,180.0,Low Earth Orbit,ATSB,Government,Malaysia,Success,NaN,NaN,NaN
13,F9-6,29 September 2013,16:00,Vandenberg AFB SLC-4E,Falcon 9 (v1.1),CASSIOPE,Communication/Research Satellite,500.0,Polar Orbit,MDA Corp,Business,Canada,Success,NaN,Ocean,Failure
14,F9-7,3 December 2013,22:41,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),SES-8,Communication Satellite,3170.0,Geostationary Transfer Orbit,SES,Business,Luxembourg,Success,NaN,NaN,NaN
15,F9-8,6 December 2014,22:06,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),Thaicom 6,Communication Satellite,3325.0,Geostationary Transfer Orbit,Thaicom,Business,Thailand,Success,NaN,NaN,NaN
18,F9-11,5 August 2014,08:00,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),AsiaSat 8,Communication Satellite,4535.0,Geostationary Transfer Orbit,AsiaSat,Business,China,Success,NaN,NaN,NaN
19,F9-12,7 September 2014,05:00,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),AsiaSat 6,Communication Satellite,4428.0,Geostationary Transfer Orbit,AsiaSat,Business,China,Success,NaN,NaN,NaN
23,F9-16,2 March 2015,03:50,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),ABS-3A,Communication Satellite,4159.0,Geostationary Transfer Orbit,Asia Broadcast Satellite,Business,Bermuda,Success,NaN,NaN,NaN
24,F9-16,2 March 2015,03:50,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),Eutelsat 115 West B (Satmex 7),Communication Satellite,4159.0,Geostationary Transfer Orbit,Eutelsat (Satmex),Business,France (Mexico),Success,NaN,NaN,NaN
26,F9-18,27 April 2015,23:03,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),TurkmenAlem 52E/MonacoSAT,Communication Satellite,4707.0,Geostationary Transfer Orbit,Turkmenistan NSA,Government,Turkmenistan,Success,NaN,NaN,NaN
30,FT-2,4 March 2016,23:35,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),SES-9,Communication Satellite,5271.0,Geostationary Transfer Orbit,SES,Business,Luxembourg,Success,NaN,Ship,Failure
32,FT-4,6 May 2016,05:21,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),JCSAT-14,Communication Satellite,4696.0,Geostationary Transfer Orbit,SKY Perfect JSAT Group,Business,Japan,Success,NaN,Ship,Success
33,FT-5,27 May 2016,21:39,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),Thaicom 8,Communication Satellite,3100.0,Geostationary Transfer Orbit,Thaicom,Business,Thailand,Success,NaN,Ship,Success
34,FT-6,15 June 2016,14:29,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),ABS-2A,Communication Satellite,3600.0,Geostationary Transfer Orbit,Asia Broadcast Satellite,Business,Bermuda,Success,NaN,Ship,Failure
35,FT-6,15 June 2016,14:29,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),Eutelsat 117 West B (Satmex 9),Communication Satellite,3600.0,Geostationary Transfer Orbit,Eutelsat (Satmex),Business,France (Mexico),Success,NaN,Ship,Failure
37,FT-8,14 August 2016,05:26,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),JCSAT-16,Communication Satellite,4600.0,Geostationary Transfer Orbit,SKY Perfect JSAT Group,Business,Japan,Success,NaN,Ship,Success
38,FT-9,1 September 2016,13:07,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),Amos-6,Communication Satellite,5500.0,Geostationary Transfer Orbit,Spacecom,Business,Israel,Failure,Vehicle Explosion Before Launch,NaN,NaN

In [13]:
launches_dataset[launches_dataset["Payload Mass (kg)"] < 4000]

,Flight Number,Launch Date,Launch Time,Launch Site,Vehicle Type,Payload Name,Payload Type,Payload Mass (kg),Payload Orbit,Customer Name,Customer Type,Customer Country,Mission Outcome,Failure Reason,Landing Type,Landing Outcome
0,F1-1,24 March 2006,22:30,Marshall Islands,Falcon 1,FalconSAT-2,Research Satellite,19.5,NaN,DARPA,Government,United States,Failure,Engine Fire During Launch,NaN,NaN
3,F1-3,3 August 2008,03:34,Marshall Islands,Falcon 1,"PRESat, NanoSail-D",Research Satellites,8.0,NaN,NASA,Government,United States,Failure,Collision During Launch,NaN,NaN
5,F1-4,28 September 2008,23:15,Marshall Islands,Falcon 1,RatSat (DemoSat),NaN,165.0,Low Earth Orbit,NaN,NaN,NaN,Success,NaN,NaN,NaN
6,F1-5,14 July 2009,03:35,Marshall Islands,Falcon 1,RazakSAT,Weather Satellite,180.0,Low Earth Orbit,ATSB,Government,Malaysia,Success,NaN,NaN,NaN
10,F9-4,8 October 2012,00:35,Cape Canaveral AFS LC-40,Falcon 9 (v1.0),SpaceX CRS-1,Space Station Supplies,500.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,NaN,NaN
11,F9-4,8 October 2012,00:35,Cape Canaveral AFS LC-40,Falcon 9 (v1.0),Orbcomm-OG2,Communication Satellite,150.0,Low Earth Orbit,Orbcomm,Business,United States,Failure,Engine Failure During Flight,NaN,NaN
12,F9-5,1 March 2013,15:10,Cape Canaveral AFS LC-40,Falcon 9 (v1.0),SpaceX CRS-2,Space Station Supplies,677.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,NaN,NaN
13,F9-6,29 September 2013,16:00,Vandenberg AFB SLC-4E,Falcon 9 (v1.1),CASSIOPE,Communication/Research Satellite,500.0,Polar Orbit,MDA Corp,Business,Canada,Success,NaN,Ocean,Failure
14,F9-7,3 December 2013,22:41,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),SES-8,Communication Satellite,3170.0,Geostationary Transfer Orbit,SES,Business,Luxembourg,Success,NaN,NaN,NaN
15,F9-8,6 December 2014,22:06,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),Thaicom 6,Communication Satellite,3325.0,Geostationary Transfer Orbit,Thaicom,Business,Thailand,Success,NaN,NaN,NaN
16,F9-9,18 April 2014,19:25,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),SpaceX CRS-3,Space Station Supplies,2296.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,Ocean,Success
20,F9-13,21 September 2014,05:52,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),SpaceX CRS-4,Space Station Supplies,2216.0,Geostationary Transfer Orbit,NASA,Government,United States,Success,NaN,Ocean,Success
21,F9-14,10 January 2015,09:47,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),SpaceX CRS-5,Space Station Supplies,2395.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,Ship,Failure
22,F9-15,11 February 2015,23:03,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),DSCOVR,Weather Satellite,570.0,Sun/Earth Orbit,US Air Force; NASA; NOAA,Government,United States,Success,NaN,Ocean,Success
25,F9-17,14 April 2015,20:10,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),SpaceX CRS-6,Space Station Supplies,1898.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,Ship,Failure
27,F9-19,28 June 2015,14:21,Cape Canaveral AFS LC-40,Falcon 9 (v1.1),SpaceX CRS-7,Space Station Supplies,1952.0,Low Earth Orbit,NASA,Government,United States,Failure,Vehicle Explosion During Flight,NaN,NaN
29,F9-21,17 January 2016,18:42,Vandenberg AFB SLC-4E,Falcon 9 (v1.1),Jason-3,Weather Satellite,553.0,Low Earth Orbit,NASA; NOAA; CNES,Government,United States,Success,NaN,Ship,Failure
31,FT-3,8 April 2016,20:43,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),SpaceX CRS-8,Space Station Supplies,3136.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,Ship,Success
33,FT-5,27 May 2016,21:39,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),Thaicom 8,Communication Satellite,3100.0,Geostationary Transfer Orbit,Thaicom,Business,Thailand,Success,NaN,Ship,Success
34,FT-6,15 June 2016,14:29,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),ABS-2A,Communication Satellite,3600.0,Geostationary Transfer Orbit,Asia Broadcast Satellite,Business,Bermuda,Success,NaN,Ship,Failure
35,FT-6,15 June 2016,14:29,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),Eutelsat 117 West B (Satmex 9),Communication Satellite,3600.0,Geostationary Transfer Orbit,Eutelsat (Satmex),Business,France (Mexico),Success,NaN,Ship,Failure
36,FT-7,18 July 2016,04:45,Cape Canaveral AFS LC-40,Falcon 9 Full Thrust (v1.2),SpaceX CRS-9,Space Station Supplies,2257.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,Land,Success
40,FT-11,19 February 2017,14:39,Kennedy Space Center LC-39A,Falcon 9 Full Thrust (v1.2),SpaceX CRS-10,Space Station Supplies,2490.0,Low Earth Orbit,NASA,Government,United States,Success,NaN,Land,Success

In [18]:
launches_dataset[launches_dataset["Customer Country"] == "United States"]["Payload Mass (kg)"].median()

1925.0